# ==========================================
# CONFIGURACIÓN UNIFICADA DE DOCKER COMPOSE
# ==========================================

# 1. Base de datos (PostgreSQL 16)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=dmhub

# 2. Entorno del Backend C# (ASP.NET Core)
ASPNETCORE_ENVIRONMENT=Development

# Semilla de datos de prueba: inyecta categorías, productos e historiales de venta
SEED_DATA=true
SEED_USER_EMAIL=admin1@test.com
SEED_USER_PASSWORD=123456789

# 3. Entorno del Frontend Next.js
# URL pública de la API accesible desde el navegador del cliente
NEXT_PUBLIC_API_URL=http://localhost:5000

# URL de la API accesible de forma interna dentro de la red de Docker
BACKEND_API_URL=http://backend:5000