# ==========================================
# CONFIGURACIÓN UNIFICADA DE DOCKER COMPOSE
# ==========================================

# 1. Base de datos (PostgreSQL 16)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=dmhub

# 2. Entorno del Backend C# (ASP.NET Core)
ASPNETCORE_ENVIRONMENT=Development

# Configuración de inicialización del superusuario administrador de la plataforma
SUPER_ADMIN_EMAIL=superadmin@elohim.gt
SUPER_ADMIN_PASSWORD=SuperAdmin123!
SUPER_ADMIN_NOMBRE=Super Admin

# Semilla de datos de prueba: inyecta categorías, productos e historiales de venta
SEED_DATA=true

# Pasarela de pagos (Stripe) - Para backend
# STRIPE_SECRET_KEY=sk_test_...
# STRIPE_PUBLISHABLE_KEY=pk_test_...
# STRIPE_WEBHOOK_SECRET=whsec_...
# STRIPE_DEFAULT_CURRENCY=gtq

# 3. Entorno del Frontend Next.js
# URL pública de la API accesible desde el navegador del cliente
NEXT_PUBLIC_API_URL=http://localhost:5000

# URL de la API accesible de forma interna dentro de la red de Docker
BACKEND_API_URL=http://backend:5000