# Normaliza terminaciones de línea para scripts bash
*.sh text eol=lf
entrypoint.sh text eol=lf

# Normaliza terminaciones de línea para scripts Windows
*.cmd text eol=crlf
*.bat text eol=crlf

# Binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.fon binary
